<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Contact</h2>

<p>Feb 22, 2019 - Dean Prof. Patrick James Ebewo Professor of Theatre and Dramatic Literature +254-730-116-820 pebewo@usiu.ac.ke Chair, Journalism & Corporate Communication Kioko Ireri, Ph.D. Associate Professor of Journalism & Mass Communication +254-0730116704...
Section: School Contacts

SGSRE Contacts:
Feb 22, 2019 - Prof. Amos Njuguna, Dean, School of Graduate Studies, Research & Extension, United States International University-Africa, P. O. Box 14634-00800 Nairobi Office Tel: +254 730 116 442 Email: amnjuguna@usiu.ac.ke
Section: School Contacts</p>
</body>
</html>