<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Home</h2>

<p>The Alliance High School (or AHS) popularly known among students as "Bush", is a public national high school for boys located in Kikuyu, Kenya.

Established on 1 March 1926 by the Alliance of Protestant Churches - The Church of Scotland Mission (later known as the Presbyterian Church of East Africa or PCEA), Church of the Province of Kenya (CPK) (later known as the Anglican Church of Kenya), African Inland Church (AIC), the Friends Church (Quakers) and the Methodist Church the school was later named The Alliance High School from the coming together of the churches to form a school to educate African natives beyond the education standard that was offered at the time, the school was one of the first schools in Kenya to offer secondary school education to Africans. The school is located approximately 22 kilometres (14 mi) from Nairobi's central business district. The school is a 10-minute walk from the Alliance Girls' High School, its sister school.

Alliance High School ranked within the top ten best schools in each year's National Examinations. It was ranked first in the country from 1960 to 1985. In 1986 it lost its top ranking for the first time in 25 years, slipping to third. It was ranked first in the country in 2005 based on the results of the Kenya Certificate of Secondary Education (KCSE). In 2006, it was ranked third. In 2009 and 2010, the school emerged top in the KCSE results posting sterling performance. In 2011, the school dropped one place to second. In 2013 the school was on top again with a mean grade of A− beating other famous schools like Starehe Boys' Centre and School

The school motto is "Strong to Serve". The Old Boys Association has a website and a Yahoo group known as Bushfire.
</p>


</body>
</html>