<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h2>register</h2>
<p>The purpose of a register is to be organised and maintain an efficient system for passing on information. School registers can be kept for many years, creating a historical record to check information accurately. School registers can provide information on past students and ensure continuity within the setting. School registers keep information and are crucial in any situation. There are many benefits to school registers, such as:

    Organised information
    Consistency
    Efficient for finding information
    Informative
    Safeguards students and staff

School registers help raise the standards and ensuring pupils fulfil their potential. For students to do this, they need to attend school regularly. Missing out on lessons means children are vulnerable to missing aspects of their education and may fall behind. It has been proven that children with poor attendance tend to achieve less than their full potential. By maintaining children's attendance, your setting can see which children need support from poor attendance and will help you answer questions as to why that pupil is not reaching their fullest potential.</p>
</body>
</html>