
{% extends 'layout.html' %}

{% load static %}


{% block body %}
    
<p>about page</p>
    
{% endblock %}


{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{##}
{#</head>#}
{#<body>#}
{#<a href="/">Home</a>#}
{#<a href="/about">About</a>#}
{#<a href="/contact">Contact</a><br><br>#}
{##}
{##}
{##}
{#<h2>About</h2>#}
{##}
{#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!</p>#}
{##}
{#</body>#}
{#</html>#}