
{% extends 'layout.html' %}

{% load static %}


{% block body %}

<p>homepage</p>

{% endblock %}
{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{##}
{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#</head>#}
{#<body>#}
{#<a href="/">Home</a>#}
{#<a href="/about">About</a>#}
{#<a href="/contact">Contact</a><br><br>#}
{##}
{#<img src="{% static 'slide-3.jpg' %}" alt="">#}
{##}
{#<h2 class="p">Home</h2>#}
{##}
{#<p class="xy">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aliquam commodi corporis deserunt dignissimos eaque error in iste, itaque libero #}
{#    necessitatibus neque odit officiis quam quis quos ratione saepe suscipit veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,#}
{#    assumenda cum doloremque dolorum ducimus eaque earum fugit magni#}
{#    maxime mollitia nihil, non odit quae quo#}
{#    recusandae saepe voluptas! Molestias, officia!#}
{#    Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#    Aut beatae corporis dolore doloribus error inventore laborum saepe, veritatis.#}
{#    A asperiores cum enim ex fuga magni mollitia necessitatibus tenetur velit vitae?#}
{##}
{##}
{#    </p>#}
{##}
{##}
{#</body>#}
{#</html>#}